#footer {
    width: 100%; padding-top: 10rem;
    overflow: hidden;
    text-align: center;
        
    .highlight {
        @include main-section-shadow;
        position: relative;
        width: 100%;
        color: $color-dark; text-align: center;

        $margin-vertical: 1.5rem;
        
        // background
        &:before {
            content: '';
            position: absolute; top: -25%; left: -50%; z-index: 1;
            width: 200%; height: 150%;
            @include linear-gradient(45deg, $color-light 0%, $color-light-sub 100%);
            @include transform(rotate(-1.5deg));
        }
        
        .inner {
            display: block; position: relative; z-index: 2;
            max-width: $content-width; width: 100%; margin: 0 auto; padding: $content-padding;
            text-align: left;

            .slogan {
                display: inline-block;
                margin: $margin-vertical 0;
                font-size: 4rem; line-height: 1.6em; font-weight: bold;

                .m18 {
                    margin: 0 .13em 0.8em; padding: 0 .2em;
                    background-color: $color-dark; border: .12em solid transparent;
                    color: $color-light; text-decoration: none;
                    @include border-radius(.3rem);
                    @include user-select(none);

                    &:hover,
                    &:focus {
                        background-color: transparent; border-color: $color-dark; outline-color: $color-dark;
                        color: $color-dark; text-decoration: none;
                    }
                }
            }

            .social-media {
                float: right;
                margin: $margin-vertical 0 $margin-vertical 6rem;

                > li:first-child {
                    margin-left: 0;
                }

                li {
                    list-style: none;
                    display: inline-block;
                    margin-left: 1.5rem;

                    a {
                        display: inline-block; position: relative;
                        width: 6.4rem; height: 6.4rem;
                        outline-color: $color-dark;
                        color: $color-dark;
                        @include border-radius(.5rem);

                        > * {
                            display: block; position: absolute; top: 50%; left: 50%;
                            font-size: 0;
                            @include border-radius(1.25rem);
                            @include transform(translate(-50%,-50%));
                            @include transition(.2s);

                            &:before {
                                font-size: 5rem; line-height: 1em;
                            }
                        }

                        &:hover,
                        &:focus {
                            outline-color: $color-dark-sub;
                            color: $color-dark-sub;
                        }
                    }
                }
            }
            
            @media (max-width: 800px) {
                text-align: center;

                .social-media {
                    float: none;
                    margin: $margin-vertical 0 0 0;
                }
            }
        }
    }
    
    .background {
        padding-top: 10rem;
        background-color: $color-dark;
        color: $color-light; 

        .links {
            display: block;
            max-width: $content-width; width: 100%; margin: 0 auto; padding: $content-padding;
            text-align: left;

            > .list:last-child {
                margin-right: 0;
            }

            .list {
                display: inline-block; vertical-align: top;
                margin: 4rem 7rem 4rem 0; padding: 0;

                li {
                    padding: 0;
                    list-style: none;
                }
                
                .headline {
                    list-style: none;
                    margin-bottom: .5em;
                    font-size: 3rem; line-height: 1.5em; font-weight: bold;
                }

                .link {
                    margin: .6em 0;
                    font-size: 1.9rem; line-height: 1.4em;

                    a {
                        display: inline-block;
                        padding: .05em .25em;
                        color: $color-light; font-weight: normal; text-decoration: none;

                        &:hover,
                        &:focus {
                            color: $color-light-sub; text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}