@include keyframes(switch-animation-logo-top) {
    0%, 20% {@include transform(translate(-50%,-150%));}
    30%, 50%, 70% {@include transform(translate(-50%,-50%));}
    80%, 100% {@include transform(translate(-50%,100%));}
}

@include keyframes(switch-animation-logo-bottom) {
    0%, 20% {@include transform(translate(0,-150%));}
    30%, 50%, 70% {@include transform(translate(0,-50%));}
    80%, 100% {@include transform(translate(0,100%));}
}
                    
$logo-ani-dur: 12s;


#header {
    @include main-section-shadow;
    width: 100%; margin: 0 auto; padding-bottom: .5rem;
    text-align: center;
    @include linear-gradient(45deg, $color-light 0%, $color-light-sub 100%);
    
    
    
    /* LOGO */
    
    .highlight {
        display: inline-block; position: relative;
        max-width: $content-width + 150; width: 100%; padding: $header-padding;
        text-align: left;
    
        .logo {
            display: inline-block;

            .link {
                display: inline-block;
                margin-right: .3em; padding: .5rem;
                color: $color-dark; font-size: 5rem; line-height: 1em; text-decoration: none; font-weight: bold;
                @include user-select(none);

                .alt-container {
                    display: inline-block; position: relative; top: .1em; 
                    vertical-align: bottom;
                    width: 1.8em; height: 1.2em; margin-left: .1em;
                    overflow: hidden;
                    background-color: $color-dark; border: .5rem solid transparent;
                    color: $color-light;
                    @include border-radius(.3rem);
                    
                    .alt1 {
                        position: absolute; top: 50%; left: 50%;
                        line-height: 1em;
                        @include animation(switch-animation-logo-top $logo-ani-dur (-1 * $logo-ani-dur / 2) infinite);
                    }
                    
                    .alt2 {
                        position: absolute; top: 50%; left: 50%;
                        line-height: 1em;
                        @include animation(switch-animation-logo-top $logo-ani-dur 0s infinite);
                    }
                }

                @include ON_DESKTOP {
                    
                    &:hover,
                    &:focus {
                        text-decoration: none;

                        span {
                            background-color: transparent; border-color: $color-dark;
                            color: $color-dark;
                        }
                    }
                }
            }

            .text {
                display: inline-block;
                padding: .5rem;
                font-size: 1.8rem; line-height: 1em; color: $color-dark;

                .alt-container {
                    display: inline-block; position: relative;
                    vertical-align: bottom;
                    width: 5em; height: 1em;
                    overflow: hidden;
                    
                    .alt1 {
                        position: absolute; top: 50%; left: 0;
                        line-height: 1em;
                        @include animation(switch-animation-logo-bottom $logo-ani-dur (-1 * $logo-ani-dur / 2) infinite);
                    }
                    
                    .alt2 {
                        position: absolute; top: 50%; left: 0;
                        line-height: 1em;
                        @include animation(switch-animation-logo-bottom $logo-ani-dur 0s infinite);
                    }
                }

            }
        }


        
        .right-menu {
            float: right;
            margin: 1rem 0 0 4rem;
            
            @include ON_MOBILE {
                position: absolute; top: 50%; right: $header-padding;
                margin: 0;
                @include transform(translate(0, -50%));
            }
            
            > * {
                display: inline-block; vertical-align: middle;
            }

            #language-selection {
                list-style: none;
                text-align: left;

                @include ON_MOBILE {
                    display: none;
                }

                > li {
                    display: inline-block;
                    margin: 0 .7rem .3rem .7rem;
                    font-size: 1.8rem;

                    &:first-child {
                        margin-left: 0;
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            #open-search-btn {
                margin-left: 5rem; padding: 1rem;
                color: $color-dark; font-size: 0; line-height: 1em;
                @include border-radius(.3rem);
                
                @include ON_MOBILE {
                    margin: 0 3rem 0 0;
                }
                
                @include ON_DESKTOP {
                    &:hover,
                    &:focus {
                        color: $color-dark-sub;
                    }
                }
                
                > * {
                    text-align: center;
                    font-size: 0;
                    
                    &:before {
                        font-size: 4rem; line-height: 1em;
                    }
                }
            }

            #mobile-hamburger-btn {
                position: relative;
                width: 8rem; height: 8rem;

                @include ON_DESKTOP {
                    display: none;
                }

                > * {
                    position: absolute; left: 10%;
                    width: 80%; height: 8%;
                    background-color: $color-dark;
                    @include border-radius(8rem);
                    @include transform-origin(center);
                    @include transition(.3s);
                }

                .top {top: 20%;}
                .middle {bottom: 46%;}
                .bottom {bottom: 20%;}

                html.nav-is-open & {

                    .top {
                        top: 46%;
                        @include transform(rotate(45deg));
                    }
                    .middle {
                        opacity: 0;
                    }
                    .bottom {
                        bottom: 46%;
                        @include transform(rotate(-45deg));
                    }
                }
            }
        }
    }
    
    
    
    /* BANNER */
    
    .banner {
        @include main-section-shadow;
        display: inline-block;
        max-width: 1920px; width: 100%; height: 30rem;
        background-position: center; background-repeat: no-repeat;
        @include background-size(cover);
        
        @include ON_MOBILE {
            display: none;
        }
    }
}

// buttons that toggle the applied language
.lang-select-btn {
    display: inline-block;
    min-width: 12rem; padding: .5rem 1rem;
    border: .3rem solid transparent;
    color: $color-dark; font-size: 2.2rem; font-weight: normal; text-align: center;
    @include border-radius(.3rem);

    &:hover,
    &:focus {
        color: $color-dark-sub;
    }

    html[lang="de"] &[set-lang="de"],
    html[lang="en"] &[set-lang="en"] {
        cursor: auto;
        
        &:hover,
        &:focus {
            outline: none;
        }
    }
    
    #language-selection & {
        
        html[lang="de"] &[set-lang="de"],
        html[lang="en"] &[set-lang="en"] {
            background-color: $color-dark;
            color: $color-light;
        }
    }

    #mobile-language-selection & {
        color: $color-light;

        html[lang="de"] &[set-lang="de"],
        html[lang="en"] &[set-lang="en"] {
            border-color: $color-light;
        }
    }
}





/* BUTTON FOR SKIPPING NAVIGATION */

.fixed-center {
    position: fixed; top: -5px; left: 50%; z-index: 10000;
    max-width: $content-width + 150; width: 100%; height: 1px;
    @include transform(translate(-50%,0));

    // button that appears on first TAB if user navigates using TAB key
    #skip-nav {
        display: inline-block; position: absolute; bottom: 0; left: 2rem;
        padding: .75em 1.25em;
        background-color: $color-light; border: .3rem solid $color-dark; white-space: nowrap;
        color: $color-dark; font-size: 1.8rem; line-height: 1.5em; text-decoration: none; font-weight: bold;
        @include border-radius(.4rem);

        &:focus {
            bottom: -6rem;
            @include transform(translate(0,100%));
        }
    }

    @include ON_MOBILE {
        display: none;
    }
}





/* SEARCH BAR */

#search-bar {
    position: fixed; top: 0; left: 0; z-index: 10000;
    width: 0; height: 0;
    visibility: hidden; opacity: 0; overflow: hidden;
    @include transition(0s .5s, opacity .5s);
    
    &.show {
        width: 100%; height: 100%;
        visibility: visible; opacity: 1;
        @include transition(0s, opacity .5s);
    }
    
    .overlay {
        position: absolute; top: 0; left: 0; z-index: 1;
        width: 100%; height: 100%;
        background-color: rgba(0,0,0,.9);
    }
    
    .close-btn {
        position: absolute; top: 1.5rem; right: 1.5rem; z-index: 3;
        width: 6rem; height: 6rem;
        color: white;
        
        &:active {
            @include transform(scale(.9));
        }
        
        &:after,
        &:before {
            content: '';
            position: absolute; left: 10%;
            width: 80%; height: 8%;
            background-color: white;
            @include border-radius(5rem);
            @include transform-origin(center);
            @include transition(.3s);
        }

        &:after {
            top: 46%;
            @include transform(rotate(45deg));
        }
        &:before {
            bottom: 46%;
            @include transform(rotate(-45deg));
        }
    }
    
    #search-form {
        position: absolute; top: 50%; left: 50%; z-index: 2;
        max-width: 100rem; width: 90%; padding: 2rem;
        @include transform(translate(-50%,-50%));
        
        .input {
            width: 100%; padding: 3rem (3rem + 5rem + 3rem) 3rem 3rem;
            background: none; border-bottom: .5rem solid rgba(255, 255, 255, 0.6);
            font-size: 5rem; line-height: 1em; color: $color-light;
            @include transition(.2s);
            
            // IE 10+
            &:-ms-input-placeholder {
                color: rgba(255,255,255,.3);
            }

            // Microsoft Edge
            &::-ms-input-placeholder {
                color: rgba(255,255,255,.3);
            }

            // Firefox 19+
            &::-moz-placeholder {
                color: rgba(255,255,255,.3);
            }

            // Chrome / Opera / Safari
            &::-webkit-input-placeholder {
                color: rgba(255,255,255,.3);
            }

            // Firefox 18-
            &:-moz-placeholder {
                color: rgba(255,255,255,.3);
            }
            
            &:focus {
                border-color: white;
                outline-style: dashed;
                outline-offset: .6rem;
                outline-width: .4rem;
                outline-color: white;
            }
            
            &:active {
                background-color: rgba(255,255,255,.15);
            }
        }
        
        .submit-btn {
            position: absolute; top: 50%; right: 3rem + 2rem;
            opacity: .5;
            font-size: 0; line-height: 1em; color: white;
            @include transform(translate(0,-50%));
            
            &:hover,
            &:focus {
                opacity: 1;
            }
            
            > * {
                font-size: 0; line-height: 1em;
                
                &:before {
                    font-size: 5rem; line-height: 1em;
                }
            }
        }
        
        @media (max-width: 700px) {
            .input {
                padding-right: 3rem + 3rem + 3rem;
                font-size: 3rem;
            }
            .submit-btn > *:before {
                font-size: 3rem;
            }
        }
    }
}





/* NAVIGATION */

@mixin desktop-dropdown-visible {
    width: auto; height: auto; padding: .5rem 0;
    visibility: visible; opacity: 1;
    overflow: inherit;
    @include transition(0s);
}

#nav {
    @include main-section-shadow;
    position: relative; z-index: 9999;
    @include user-select(none);

    .dropdown-indicator {
        display: inline-block; vertical-align: middle;
        width: 0; height: 0; margin: 0 0 0 .4em;
        border-left: .3em solid transparent;
        border-right: .3em solid transparent;
        border-top: .3em solid currentColor;
        @include transition(.3s);
    }
    
    @include ON_DESKTOP {
        width: 100%;
        background-color: $color-dark;
        text-align: center;

        .dropdown-indicator {
            position: relative; top: -.3em;
        }
        
        > .main {
            display: inline-block; position: relative;
            max-width: $content-width + 150; width: 100%; padding: 0 $header-padding;
            text-align: left;

            > li {
                display: inline-block; position: relative; vertical-align: top;
                list-style: none;

                > a {
                    display: inline-block; position: relative; z-index: 1; vertical-align: bottom;
                    padding: 2rem 1.8rem;
                    font-size: 0; line-height: 1em; color: $color-light; text-decoration: none;

                    > * {
                        font-size: 2.4rem; line-height: 1em;
                    }
                    
                    &:hover,
                    &:focus {
                        background-color: $color-light; outline: none;
                        color: $color-dark;
                    }

                    &.home-btn {
                        > * {
                            font-size: 0;
                            &:before {
                                font-size: 2.4rem;
                            }
                        }
                    }
                }
            }

            > li:hover,
            > li:focus-within {
                > a {
                    background-color: $color-light;
                    color: $color-dark;
                }
            }
        }
        
        .mobile-dropdown-opener {
            display: none;
        }

        // general properties of a dropdown menu
        .dropdown {
            @include main-section-shadow;
            position: absolute;
            max-width: 30rem; min-width: 25rem; width: 0; max-height: 40rem; height: 0; padding: 0;
            visibility: hidden; opacity: 0;
            overflow: hidden;
            @include linear-gradient(135deg, $color-light 0%, $color-light-sub 100%);
            @include transition(0s .2s, opacity 0s);

            &.depth-1 {
                top: 100%; left: 0; z-index: 2;
            }

            &.depth-2 {
                top: 0; left: 100%; z-index: 3;
            }

            .dropdown-indicator {
                float: right;
                @include transform(rotate(-90deg));
            }

            li {
                position: relative;
                list-style: none;
                margin: 0; padding: 0;

                a {
                    display: inline-block;
                    width: 100%; padding: 1.2rem;
                    font-size: 1.7rem; line-height: 1.3em; color: $color-dark; text-decoration: none;

                    &:hover,
                    &:focus {
                        background-color: $color-dark; outline: none;
                        color: $color-light;
                    }
                }
            }
        }

        // trigger the showing of a dropdown menu
        a:hover ~ .dropdown,
        a:focus ~ .dropdown,
        button:hover ~ .dropdown,
        button:focus ~ .dropdown,
        .dropdown.show,
        .dropdown:hover {
            @include desktop-dropdown-visible;
        }

        // split off, because older browsers do not support it
        .dropdown:focus-within {
            @include desktop-dropdown-visible;
        }
        
        #mobile-language-selection {
            display: none !important;
        }
    }

    @include ON_MOBILE {
        position: fixed; top: 0; right: 100%;
        width: 100%; height: 100%;
        visibility: hidden; opacity: 0;
        @include transition(0s .2s);
        
        > .overlay {
            position: absolute; top: 0; left: 0; z-index: 1;
            width: 100%; height: 100%;
            background-color: rgba(0, 0, 0, .7); opacity: 0;
            @include transition(.2s linear);
        }
        
        > .main {
            @include main-section-shadow;
            display: inline-block; position: relative; z-index: 2;
            max-width: 60rem; width: 80%; height: 100%; padding: 2rem;
            background-color: $color-dark; overflow-y: auto;
            color: $color-light; text-align: left;
            @include transform(translate(-101%, 0));
            @include transition(.1s);

            > li {
                position: relative;
                list-style: none;
                margin: 1rem 0;

                > a {
                    display: inline-block; position: relative; z-index: 1;
                    width: 100%; padding: 2rem 1.8rem;
                    font-size: 2.5rem; line-height: 1em; font-weight: bold; color: $color-light; text-decoration: none;

                    &:hover,
                    &:focus {
                        outline: none;
                    }

                    &.home-btn {

                        svg {
                            display: inline-block; vertical-align: baseline;
                            width: 1em; height: 1em;
                            fill: currentColor;
                        }
                    }
                }
            }
        }
        
        .mobile-dropdown-opener {
            position: absolute; top: 0; left: 0; z-index: 3; // must be above normal links in nav
            width: 100%; height: 100%;
            
            &:hover,
            &:focus {
                outline: none;
            }
            
            &.show {
                
                ~ .dropdown {
                    margin: .8rem 0 3rem 0; padding: 1rem;
                    @include transition(.3s, width 0s, height 0s, visiblity 0s, overflow 0s);
                }
            }
            
            &:not(.show) {
                
                ~ .dropdown {
                    width: 0; height: 0; padding: 0 1rem;
                    visibility: hidden; opacity: 0; overflow: hidden; 
                    @include transition(.3s, width 0s .3s, height 0s .3s, visiblity 0s .3s, overflow 0s .3s);
                }
                
                ~ a > .dropdown-indicator {
                    @include transform(rotate(-90deg));
                }
            }
        }

        .dropdown {
            @include main-section-shadow;
            display: block;
            position: relative; z-index: 4; // must be above mobile-dropdown-opener
            width: 100%;
            background-color: $color-light;
            overflow: hidden;
            
            &.depth-1 {
                @include linear-gradient(135deg, $color-light 0%, $color-light-sub 100%);
                
                a {
                    color: $color-dark;
                }
            }

            &.depth-2 {
                background-color: $color-dark;
                
                a {
                    color: $color-light;
                }
            }

            li {
                position: relative;
                list-style: none;
                margin: 0; padding: 0;

                a {
                    display: inline-block;
                    width: 100%; padding: 1.2rem;
                    font-size: 1.7rem; line-height: 1.3em; text-decoration: none; font-weight: bold;

                    &:hover,
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
        
        #mobile-language-selection {
            margin-top: 2.5rem; padding: 1.5rem 0;
            border-top: .3rem dashed #898989;
            
            > span {
                display: inline-block; vertical-align: middle;
                margin: 1rem 1.5em 1rem 1rem;
                font-size: 2rem; line-height: 1em; color: #898989;
            }
            
            > ul {
                display: inline-block; vertical-align: middle;
                list-style: none;
                margin: 0; padding: 0;
                font-size: 0; line-height: 0;
                
                > li {
                    display: inline-block;
                    margin: 1rem 1rem 1rem 0; padding: 0;
                    font-size: 0; line-height: 0;
                }
            }
        }
        
        html.nav-is-open & {
            right: 0;
            visibility: visible; opacity: 1;
            @include transition(0s);
            
            > .overlay {
                opacity: 1;
                @include transition(.7s linear);
            }
            
            > .main {
                @include transform(translate(0, 0));
                @include transition(.3s);
            }
        }
    }
}