/* DEVICE MEDIA QUERIES */

@mixin ON_DESKTOP {
    @media (min-width: 901px) {
        @content;
    }
}

@mixin ON_MOBILE {
    @media (max-width: 900px) {
        @content;
    }
}



/* PREFIXES FOR CSS ATTRIBUTES*/

@import 'power-prefixer';



/* STATIC PROPERTIES */

// fonts
$font-main: 'Noto Sans', 'Roboto', 'Arial', sans-serif;

// area colors
$color-main: black;
$color-aspect: #fddd38;
$color-aspect-sub: #fdc038;

// text colors
$color-text: #1d1d1d;
$color-link-1: #ffb300;
$color-link-2: #ff7800;
$color-link-shadow: rgba(255, 118, 0, 0.15);
$color-link-shadow-hover: rgba(255, 98, 0, 0.4);


/* SCSS FILES */

@import 'reset';
@import 'fonts';
@import 'generic';
@import 'header';
@import 'footer';